
.menu{
    position: absolute;
    height: 10%;
    width:80%;
    top:1%;
    left: 2%;
}
.menuItem{
    font-family: 'Fondamento', cursive;
    font-size: x-large;
    color: grey;
    margin: 2%;
    white-space: nowrap;
}
.menuItem:hover{
     color: #336600;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

a {
    text-decoration: none;
}

#landPage
{
    position: absolute;
    top: 0%;
    left:85%;
    font-size: medium;
}

@media only screen  and (max-device-width : 415px)  
{ 
 
    .menuItem{
    font-size: x-small;
    }
    
    #landPage
    {
        font-size: x-small;
    }

}

@media only screen  and (max-device-height : 415px)  
{ 
 
    .menuItem{
        font-size: x-small;
    }
    #landPage
    {
        font-size: x-small;
    }

}