body{
    background: url(../images/zigzagwool-contact.png) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: cover;*/
     background-size: 100% 100%;
  background-repeat: no-repeat-y; 
    color: grey;
    font-family: 'Kalam', cursive;
    font-weight: bold; 
    font-size: large;
    text-align: justify;
    }
#Projects{
    color: #336600;
}

.projectImageDiv{
    position: absolute;
    top:20%;
    left: 10%;
}

.projectImage{
    position: relative;
}


.projectImage:hover .projectImageDesc{
  opacity: .80;
}


.projectImageDesc{
  position: absolute;
  top: 48%;
  left: 50%;
  height:250px;
  width: 250px;
  opacity: 0;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  background-color: #ffffff !important;
  border-radius: 10%;
  color: #4c4c4c;
  font-size: 30px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.projDesc{
    position: absolute;
    padding-top:30%;
    text-align: center;
}

td{
    /*margin: 10px;*/
    padding: 20px;
}